<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <script src="~/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.122.0">
    <title>Sticky Footer Navbar Template · Bootstrap v5.3</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/sticky.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer-navbar.css" rel="stylesheet">
    @* CREAMOS UNA SECCION PARA QUE LAS VISTAS PUEDAN INCLUIR SUS
    <style> SI LO NECESITAN
    *@
    @RenderSection("styles", false)
    <meta name="theme-color" content="#712cf9">
</head>
<body class="d-flex flex-column h-100">
    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
                id="bd-theme"
                type="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                aria-label="Toggle theme (auto)">
            <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                    Light
                    <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                    Dark
                    <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
                    Auto
                    <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                </button>
            </li>
        </ul>
    </div>


    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Fixed navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" 
                            asp-controller="Home"
                            asp-action="Index">Casita</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Sections", "EjemploSection", "Home")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Persona", "VistaPersona", "Home")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Prueba", "Prueba", "Home")
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5" id="mensaje">Zona de Vistas</h1>
            @if (IsSectionDefined("imagenhome")){
                //ALGUNA VISTA QUIERE SUSTITUIR LA IMAGEN DE HOME
                @RenderSection("imagenhome", false)
            }else{
                //CODIGO ESTATICO PARA EL RESTO DE VISTAS 
                //QUE NO QUIEREN SUSTITUIR
                <img src="~/images/fry.png"
                     style="width: 150px; height: 150px" />
            }


            @RenderSection("images", false)
            <button class="btn btn-danger" id="botonlayout">
                Boton Layout
            </button>
            @RenderBody()
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">Place sticky footer content here.</span>
        </div>
    </footer>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
    <script>
        $(document).ready(function() {
            $("#botonlayout").click(function() {
                $("#mensaje").text("Botón pulsado en LAYOUT!!!");
            })
        })
    </script>
</body>
</html>
